* {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.list a {
	text-decoration: none;
	color: black;
}

body {
	color: black;
	font-family: arial;
	background-color: #bfbfbf;

}

ul {
	list-style: none;
}

.circle img {
	border: 2px solid #b5e853;
	border-radius: 200px;
	width: 180px;
	margin-left: 25px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 20px;
}

.list ul a {
	display: block;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 25px;
	color: #b5e853;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	font-family: 'Roboto Mono', monospace;
}

nav {
	border-right: 1px solid black;
	background-color: #666666;
	width: 250;
	height: 100%;
	position: absolute;
}

.list a:hover{
	background-color: #464444;
	color: black;
}

label {
	padding: 15px;
	position: absolute;

}


article {
	position: fixed;
	margin-top: 180px;
	margin-left: 300px;
	margin-right: 50px;

}
article h1 {
	font-family: 'Playfair Display', serif;
	color: black;
	padding-bottom:10px;
	
}
article h3 {
	font-family: 'Playfair Display', serif;
	color: black;
	padding-bottom: 20px;
	
}

article p {
	font-family: 'Playfair Display', serif;
	color: black;
}

footer{
	width: 100%;
	height: 35px;
	margin-left: 300px;
	bottom: 0;
	position: fixed;
}
